wsdl/backup-original/HelloToYou-xsd0.wsdl

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="http://localhost:8080/HelloToYou?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFHelloWorld"/><xs:element name="GetData"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="value" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetDataResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetDataUsingDataContract"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" xmlns:q1="http://schemas.datacontract.org/2004/07/WCFHelloWorld"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetDataUsingDataContractResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" xmlns:q2="http://schemas.datacontract.org/2004/07/WCFHelloWorld"/></xs:sequence></xs:complexType></xs:element><xs:element name="SayHello"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="param" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="SayHelloResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="SayHelloResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>